.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.cardMain{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px gray;
}
img{
    border-radius: 5px;
    box-shadow: 0 0 6px 1px gray;

    
}

